<h1>EllaJune Family!</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Birthday</th>
    <th>Email</th>
    <th>Website</th>
    <th>Interests</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.user_profile.name %></td>
    <td><%= user.user_profile.location %></td>
    <td><%= user.user_profile.birth_date %></td>
    <td><%= user.email %></td>
    <td><%= user.user_profile.website %></td>
    <td><%= raw user.user_profile.interests_tags.map(&:name).map { |t| link_to t, interests_tag_path(t) }.join(', ') %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
