<h1>EllaJune Family!</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Birthday</th>
    <th>Email</th>
    <th>Website</th>
    <th>Interests</th>
  </tr>

<% @user_profiles.each do |user_profile| %>
  <tr>
    <td><%= user_profile.name %></td>
    <td><%= user_profile.location %></td>
    <td><%= user_profile.birth_date %></td>
    <td><%= user_profile.user.email %></td>
    <td><%= user_profile.website %></td>
    <td><%= raw user_profile.interests_tags.map(&:name).map { |t| link_to t, interests_tag_path(t) }.join(', ') %></td>
    <td><%= link_to 'Show', user_profile.user %></td>
  </tr>
<% end %>
</table>

<br />