<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @link.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @link.title %>
</p>

<p>
  <b>Url:</b>
  <%= @link.url %>
</p>

<p>
  <b>Votes:</b>
  <%= @link.vote_count %>
</p>

<p>
  <b>Tags:</b>
  <%= raw @link.link_tags.map(&:name).map { |t| link_to t, link_tag_path(t) }.join(', ') %>
</p>

<h4>Comments:<h4>
<div>
  <% @link.comments.each do |comment| %>
    <p><%= comment.message %></p>
    <p><%= comment.user.user_profile.name %></p>
    <p><%= comment.created_at %></p>
  <% end %>
</div>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
